.b-center {
  width: 280px;
  margin: 10px auto;
}

.b-position {
  height: 35px;
  margin: 20px auto 0;
}

.container-width {
  width: 90%;
  max-width: 1000px;
  min-width: 360px;
  margin: 70px auto 20px auto;
}

.color {
  &-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  &_arm {
    background-color: #ff5252;
  }
  &_back {
    background-color: #ffa726;
  }
  &_chest {
    background-color: lime
  }
  &_reg {
    background-color: #64b5f6;
  }
  &_shoulder {
    background-color: #ce93d8;
  }
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day-change {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 50px;
  margin: 0 16px;
  cursor: pointer;
  user-select: none;
}

.d-none {
  display: none;
}

.d-none__block {
  display: none;
  width: 100%;
  max-width: 400px;
}

.icons-align {
  display: inline-flex;
  vertical-align: text-bottom;
  font-size: inherit;
}

.input-center {
  width: 350px;
  margin: 0 auto;
}

.l-flex {
  display: flex;
}

.m-color {
  background-color: mintcream;
}

.midium-width {
  width: 60%;
}

.midium-space {
  margin: 15px;
}

.sign {
  &-border {
    border: 2px solid gray;
    box-sizing: border-box;
  }
  &-box {
    width: 300px;
    margin: 10px auto;
  }
  &-title {
    height: 40px;
    line-height: 40px;
    padding: 8px;
    margin: 0;
    color: white;
    background-color: rgb(38, 240, 139);
  }
}

.small-width__none {
  width: 38%;
}

@media(max-width: 760px) {
  .container-width {
    width: 95%;
  }

  .midium-width {
    width: 100%;
  }

  .d-none__block {
    display: block;
    margin: 0 auto;
  }

  .small-width__none {
    width: 95%;
    margin: 0 auto;
  }

  .min_midium-width {
    width: 50%;
    margin: 15px auto;
  }
}

@media(max-width: 550px) {
  .container-width {
    width: 98%;
  }

  .midium-space {
    margin: 5px;
  }

  .min_midium-width {
    width: 60%;
    margin: 15px auto;
  }
}
